@import url("https://fonts.googleapis.com/css?family=Cantarell|Raleway&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Engagement&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Engagement&display=swap");

:root {
  --black: #333;
  --blue: #7186ff;
  --red: rgb(227, 111, 2);
  --shaded-red: rgb(223, 149, 149);
  --green: #00751f;
  --white: #fff;

  height: 100vh;
  box-sizing: border-box;
  
  --normal-text-size-value: 1.2; 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
  background-color: black;
}
#mainHeader h1 {
  
  font-size:2.5em !important;
  font-weight:extra-bold !important;
  margin-left: 20px;
  margin-top:20px;
  /* Dégradé sur le texte */
  background-image: linear-gradient(90deg, #D6C7FF, #AB8BFF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

img {
  max-width: 100%;
  height: auto;
}
#mainHeader {
  display: flex; /* Simplifie la disposition pour éviter les restrictions de la grille */
  align-items: center;
  justify-content: center;
  color: white;
 background-color: rgb(3, 3, 27);
 background-size: cover;
 background-repeat: no-repeat; 
  width: 100%;
  flex-direction: column;     
}

.image-log{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
 
}
#fName {
  background-color: #f26160;
  border: 1px solid white;
}
#lName {
  background-color: #f26160;
  border: 1px solid white;
}
#email {
  background-color: #f26160;
  border: 1px solid white;
}
#message {
  background-color: #f26160;
  border: 1px solid white;
  width: 400px;
}
#logoImg {
  padding: 5px;
  position: relative;
  
  border-radius: 50%;
}
#mainNav img {
  width: 60px;
  height: 60px;
  border:2px solid white;
}
#mainNav {
  position: relative;
  background-color: black;
  width: 100%;
  top: 40px;
  padding: 20px;
  display: none;
}
#mainNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 90px;
}
#mainNav a {
  color:rgb(223, 211, 211);
  text-decoration: none;
  font-size: calc(var(--normal-text-size-value)* 1rem);
    display: block;
  margin: 10px;
  padding-top: 10px;
 
  font-weight: bold;
}
#mainNav a:hover {
  color: var(--shaded-red);
}
#menuToggle {
  background-color: transparent;
  border: none;
  background-size: cover;
  width: 40px;
  height: 40px;
  align-self: start;
  margin-left: auto;
}
#menuToggle.hamburger {
  background-image: url(/images/hamburger.png);
}
#pageContent {
  
  width: 100%;
  height: 85vh;
  background-image: url(../images/image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
 
}

#pageContent.home {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#galeries p {
  font-size: 16px;
  font-weight: lighter;
 
}
.image-container {
  position: relative;
  display: inline-block;
}
@keyframes fadeInScale {
  from {
      opacity: 0;
      transform: scale(0.8);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

#galleryContainer {
  animation: fadeInScale 1.5s ease-out; /* Applique l'animation */
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.home {
  animation: fadeIn 5s linear 1;
}


.image-container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f3ebeb; /* Simplified color value */
  font-size: 2rem; /* Adjust the text size as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for better readability */
  text-align: center; /* Center the text */
}
.home {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.accueil-links {
  font-size: 2rem;
  position: absolute;
  bottom: 400px; /* Ajustez cette valeur selon vos besoins */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1000px;
  
  padding: 15px 25px;
  background: transparent;
  
  
}

.sublime-link {
  font-family: "Dancing Script", serif;
  background-color: rgba(10, 9, 9, 0.6); /* Légère transparence */
  opacity: 0.9; /* Augmenter légèrement la visibilité */
  font-weight: bold;
  font-size: 50px; /* Augmenter la taille */
  padding: 30px 50px; /* Élargir le padding */
  text-decoration: none;
  color: white; /* Couleur plus contrastée */
  text-transform: uppercase; /* Mettre en majuscules */
  letter-spacing: 2px; /* Espacement des lettres */
width:100px;
  /* Ajout d'un contour ou d'une ombre pour rendre le texte plus lisible */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8), 0px 0px 5px rgba(255, 255, 255, 0.5);

  /* Effet au survol */
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
  border: 2px solid white; /* Ajout d'un léger contour */
  border-radius: 10px;
}

/* Effet au survol */
.sublime-link:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.3); /* Légère lumière au survol */
  color: #ffcc00; /* Changer la couleur du texte */
  text-shadow: 3px 3px 10px rgba(255, 204, 0, 0.8), 0px 0px 8px rgba(0, 0, 0, 0.9);
}

.sublime-link:hover {
  transform: translateY(-2px);
}

#pictInfo {
  font-family: "Dancing Script", serif;
  position:relative;
  bottom:120px;
  background-color:#3333336e;
  padding: 40px;
  color: var(--white);
  width: 220px;
  height: 220px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;  
  text-align: center;
}
#pictInfo h1 {
  font-family: Cantarell, Arial, sans-serif;
  font-size: 1.2em;
  margin: 10px 0;
}
#pictInfo p {
  margin: 10px 0;
  font-size: 1em;
}
.uldajout li {
  flex-direction: column;
}
main form {
  display: grid;
  border-top: solid 1px var(--white);
}
main form > div > div {
  display: flex;
  flex-flow: column nowrap;
  margin: 20px 0;
}
main form > div:last-child > div:first-child {
  margin: 0 0 20px 0;
}
main form label {
  margin-bottom: 5px;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
}
main form textarea {
  height: 150px;
  resize: none;
}
.envoyer {
  background-color: black;
  color: #f26160;
  border: 1px solid white;
}
main form button:hover {
  background-color: var(--shaded-red);
}
main form button:active {
  background-color: var(--red);
}
main form .msg {
  font-size: 0.8em;
  color: rgb(88, 1, 1);
  margin-left: 20px;
}
main form input,
main form textarea {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(162, 162, 255);
}
main form input:valid,
main form textarea:valid {
  border: 1px solid var(--green);
}
main form input.invalid,
main form textarea.invalid {
  border: 1px solid var(--red);
}
main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: start;
  grid-auto-flow: row;
  grid-gap: 20px;
}
main ul li {
  background-color: black;

  text-align: center;
}
main ul li:hover {
  background-color:black;
}
main ul li a {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
main ul li img {
  object-fit: initial;
  border: 1px solid white;
  padding: 20px;
  width: 300px;
  height: 300px;
}

main #singleGallery {
  margin-top: 10px;
}
main#gallerie1 h1 {
  color: black;
}

main#contact1 {
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f26160;
  color: white;
  
  gap: 50px;
  text-align: center;
}
.gallery-logo{
  position:absolute ;
  bottom:40px;
  left:70px;
  z-index: 1;
  border-radius: 50%;
 max-width: 100px;
 max-height: 100px;
}
.login {
  font-family: "Arial", sans-serif;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 80px;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  text-align: center;
}
.containerMentions{
  height: 900px;;
  display:flex;
  align-items: center;
  color:white;
  flex-direction: column;
  text-align: center;
}
.containerMentions a{
  color:white;
  text-decoration: none;
}
.login h2 {
  margin-bottom: 20px;
  color: #333;
}

.login .error {
  color: #d9534f;
  margin-bottom: 15px;
}
.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.image-info {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: "Dancing Script", serif;
  border-radius: 5px;
  text-align: center;
 padding: 5px;
  
}

.login form {
  display: flex;
  flex-direction: column;
}

.login input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login input:focus {
  outline: none;
  border-color: #5cb85c;
}

.login button {
  padding: 10px;
  background-color: #f26160;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login button:hover {
  background-color: #4cae4c;
}
#About {
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: white;
  background-color: #0f0303;
  
  font-optical-sizing: auto;
  height: 830px;
  font-style: normal;
  text-align: center;
  gap: 20px;
  font-size: 25px; 
  font-family: "Dancing Script", serif;
  font-weight: normal;
    
  
}

#About img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border:2px solid white;
}
#About h1{
  font-family: 'Poppins', sans-serif;
}
#singleGallery h1 {
  text-align: center;
  color: white;
  font-weight: bold;
}
#singleGallery ul {
  margin-top: 80px;
  
}
 

#galleryContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#galleryContainer img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border: solid 5px var(--white);
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.clickable-image {
  cursor: pointer;
}
.hamburger img{
  display:none;
}
#singleGallery h1{
  text-align: center;
}
.gestion .title{
  color:white;
}
.gestion button{
  background-color: #db1919;
  color:white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
#mainFooter {
  background-color: black;
  height: 40px;
  width: 100%; 
  bottom: 0;
  position: fixed;
  background-color: rgb(3, 3, 27);   
  background-size: cover;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
#mainFooter a {
 
  color:white;
  text-decoration: none; /* Supprime le soulignement */
  gap:50px;

}
#mainFooter p{
  
  color:white;
  gap:50px;
}
#mainNav.open {
  display: flex;
  justify-content: center;
  
}
main form input,
main form textarea {
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.home img{
  width: 100%; /* S'adapte à la largeur de l'écran */
  height: auto; /* Ajuste automatiquement la hauteur */
  overflow: hidden;
}
.gestion {
  font-family: "Arial", sans-serif;

  color: white;
  line-height: 1.6;

  margin: 20px auto;
  padding: 20px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.gestion h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
.gestion h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: white;
}
.error {
  color: #d9534f;
  margin-bottom: 20px;
}

.exist1{
  background-color: #0f0303;
  color:white;
}
.exist2{
  background-color: brown;
  color:black;
}
.exist3{
  background-color: #093f28;
  color:#333;
}
.ajoutImage1,
.exist {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #272323;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.ajoutImage1 input[type="file"],
.ajoutImage1 input[type="text"],
.ajoutImage1 select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  background-color: #f26160;
 
}
::placeholder{
color:white;
}

.ajoutImage1 button,
.exist button {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
.ajoutImage2,
.exist3 {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #272323;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.ajoutImage2 input[type="file"],
.ajoutImage2 input[type="text"],
.ajoutImage2 select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  background-color: #054905;
  color:white;
 
}
.ajoutImage2 button,
.exist button {
  padding: 10px 20px;
  background-color: #e05311;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
/* App.css */
.app-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* Ajustements pour le footer */
footer {
  position: relative;
  z-index: 3;
  background: white;
  padding: 1rem;
  margin-top: auto;
}


.ajoutImage button:hover,
.exist button:hover {
  background-color: #4cae4c;
}

/* Image and message list styles */
.uldajout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.uldajout li {
  background-color: #333;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}
.uldajout img {
  max-width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 900px) {
  .uldajout li {
    width: calc(50% - 20px);
  }
  #galleryContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  #mainFooter{
    gap:50px;
  }
  #galleryContainer img {
    max-width: 110%;
    max-height: 100%;
    object-fit: contain;
    border: solid 5px var(--white);
  }
  .hamburger img{
    
    display: flex;
  }
  #mainNav {
    display: none !important; /* On cache le menu */
  }

  /* Le menu ne s'affiche que lorsqu'il a la classe "open" */
  #mainNav.open {
    display: flex !important;
  }
  
  #mainNav {
    display: none; /* Cache le menu par défaut */
    flex-direction: column;
    
    top: 60px; /* Ajuste selon la hauteur de ton header */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
  }

  #mainNav.open {
    display: flex; 
    z-index: 1;
   
   ;/* Affiche le menu quand la classe 'open' est ajoutée */
  }
#mainNav ul{
  justify-content: center;
}
  .hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
  }

  .clickable-image {
    cursor: pointer;
  }
  
  #About {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1100px;
  }
  #pictInfo{
    display:none;
  }
  
}


@media (max-width: 1300px) {
  #About {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  #pageContent {
    margin-top:20px;
    width:100%;
    background-size: cover;
    
   
}

.accueil-links{
  font-size: 2rem;
    position: absolute;
    bottom: 400px;
    left: 50%;
    transform: translateX(-50%);
    display: flex
;
    gap: 100px;
    z-index: 2;
    padding: 15px 25px;
    background: transparent;
}
main ul{
 
    grid-template-columns: repeat(2, 1fr)
}
}
@media (max-width: 600px) {
  #About {
    padding-top: 5px;
    padding-bottom: 120px;
  }
  
   #mainNav ul {
   
    margin-left: 0px;
  }
  
  #mainNav a {
    font-size: 1.2em;
  }
  
  
  #mainNav {
    display: none; /* Cache le menu par défaut */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajuste selon la hauteur de ton header */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
  }

  

  .hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
  }

  .uldajout li {
    width: 100%;
  }
  #mainHeader h1{
    font-size: 20px;
  }
  #mainFooter {
    font-size: 9px;
    
  }
  
  #About {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    margin: 10px;
  }
  
  main ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 445px) {
  #pictInfo {
    display: none;
  }
  #message {
    width: 200px;
    gap: 20px;
  }
  .hamburger {
    display: block; /* Afficher le bouton hamburger */
    background: none;
    border: none;
    cursor: pointer;
  }
  #mainHeader{
    height: 100px;;
  }
   #mainNav ul {
   
    margin-left: 0px;
  }
  
  #mainNav a {
    font-size: 1.2em;
  }
  #About {
    padding-top: 5px;
    padding-bottom: 120px;
  }
  
  #mainNav {
    display: none; /* Cache le menu par défaut */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajuste selon la hauteur de ton header */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
  }

  #mainNav.open {
    margin-top:20px;
    display: flex; /* Affiche le menu quand la classe 'open' est ajoutée */
  }

  .hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 40px;
    height: 40px;
  }

  .hamburger img {
    margin-top:20px;
    width: 100%;
    height: auto;
  }
}
  
  .sublime-link{
    padding:10px;
    font-size: 16px;
  }
  
#mainFooter{
  gap:10px;
  font-size:15px;
}
@media screen and (min-width: 768px) {

  
  #mainNav {
    display:none;
    position: static;
    background: transparent;
    display: flex;
    padding: 0;
    justify-content: center;
  }
  #mainNav {
    transition: all 0.3s ease-in-out;
  }
  
 
  .hamburger {
    display: block; /* Afficher le bouton hamburger */
    background: none;
    border: none;
    cursor: pointer;
  }
  #mainNav ul {
    flex-flow: row nowrap;
    margin-left: 0px;
  }
  #mainNav a {
    font-size: 1.2em;
  }
  #pageContent.home {
    justify-content: flex-end;
  }
  main ul {
    position:relative;
    top:0;
    grid-template-columns: repeat(3, 1fr);
  }

  #singleGallery ul li img {
    width: 300px;
    height: 300px;
    position:relative;
    
    border:1px solid white;
  }
}

.exist li {
  list-style-type: none;
  gap: 20px;
}
.exist button {
  padding: 5px;
  border-radius: 10px;
  background-color: orange;
  color: white;
}
.mess li {
  list-style-type: none;
}

.ajoutImage input {
  padding: 5px;
  border-radius: 10px;
  background-color: orange;
  color: white;
}
.ajoutImage button {
  padding: 5px;
  border-radius: 10px;
  background-color: grey;
}
button ::placeholder {
  color: white;
}
#ajouterImg {
  padding: 20px;
  background-color: orange;
  font-weight: bold;
  color: white;
}
.galleriesExists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mapGalleries {
  list-style-type: none;
}
.galleriesExists li {
  flex-direction: column;
}
.merci {
  height: 820px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  align-items: center;
  flex-direction: column;
  background-color: #f26160;
  color: white;
  gap: 40px;
  padding: 50px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main form button {
    padding: 10px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    grid-column: 1 / -1;
  }
  main ul {
    position:relative;
    top:0;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  main ul {
    position:relative;
    top:0;
    grid-template-columns: repeat(6, 1fr);
  }
  #menuToggle{
    display:none;
  }
}
