#Testimonials {
  
  background-size: cover; /* Ensure the image covers the entire section */
  background-position: center; /* Center the image */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 40px auto;
  font-family: "Dancing Script", serif;
  font-weight: extra-bold;
  line-height: 1.8;
  color: #fdf9f9;
  font-size: 1.8rem; 
}

#Testimonials h2 {
  text-align: center;
  color: #f8f4f4;
  margin-bottom: 25px;
  font-size: 2em;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

#Testimonials p {
  color: #111; /* Even darker color for better visibility */
  margin-bottom: 20px; /* Increased margin for better spacing */
  font-size: 16px; /* Adjusted font size for better readability */
  font-weight: bold; /* Adjusted font size for better readability */
}

#Testimonials br {
  margin-bottom: 20px; /* Increased margin for better spacing */
}

#Testimonials .author {
  text-align: right;
  font-style: italic;
  color: #f7f3f3;
  margin-top: 30px;
  font-size: 2em;
}

#Testimonials blockquote {
  border-left: 4px solid #ddd;
  padding-left: 15px;
  margin: 20px 0;
  color: #666;
  font-style: italic;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 15px;
}

.scrollable {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
  padding-right: 15px; /* Add some padding to avoid scrollbar overlap */
}

.voir {
  font-family: "Arial", sans-serif;
}

@media (max-width: 768px) {
  #Testimonials {
    background-image: url(/src/assets/images/thierry.JPG);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 20px auto;
    font-family: "Dancing Script", serif;
    font-weight: bold;
    line-height: 1;
    color: #fdf9f9;
    font-size: 1.4rem;
  }

  #Testimonials .author {
    text-align: center;
    font-style: italic;
    color: #f7f3f3;
    margin-top: 20px;
    font-size: 1.5em;
  }

  #Testimonials h2 {
    text-align: center;
    color: #f8f4f4;
    margin-bottom: 25px;
    font-size: 1em;
    font-weight: bold;
    font-family: "Arial", sans-serif;
  }
}